<!DOCTYPE html>
<html lang="en">
<head>
    <title>EDU-BOOK LIBRARY.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <h1>EDU-BOOK LIBRARY.</h1>
        <p>EDU OUTBOX would love to introduce you to reliable, easily
             accessible and outstanding knowledge one would need to become an I.C.T. champion!
        </p>
    </div>
    <div class="topnav">
        <a href="homepage.html">HOME PAGE.</a>
        <a href="signup.html">SIGN UP.</a>
        <a href="login.html">LOG IN.</a>
    </div>
    <div class="card">
        <h2>EDU-OUTBOX LIBRARY.</h2>
        <h5>Why has EDU-OUTBOX provided the world with such a generous and profitable  offer for the world?</h5>
        <p>In this world which is evolving towards a deeper level of technology, only the rich and equipped can afford to adopt
             to the new wave of change. Unfortunately, the disadvantaged may not be able to to access the equipped facilities, 
             tuition to attend neccessary classes. Therefire, EDU-OUTBOX built a platform that provide ready, reliable and free access 
             to outstanding knowledge, at anytime, from anywhere and by anyone.
        </p>
    </div>
    <div class="footer">
        <h1>TO FIND OUT MORE ABOUT US;</h1>
        <p>Find us at,
            <mark>
            <hr>
            <a href="outbox.co.ug">OUTBOX official website.</a>
            <hr>
            <a href="https://www.w3schools.com/">Our facebook site.</a>
            <hr>
            <a href="https://www.w3schools.com/">Our twitter page.</a>
            <hr>
            </mark>
            Thank you so much for visiting our site!</p>
        </p>
    </div>
</body>


</html>