<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/UI/CSS/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Padauk&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Shopping Cart</title>

</head>
<body>
    <header>
        <div class="overlay"></div>
        <nav>
            <h2>G-3 BOOK LIBRARY</h2>
            <Ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li class="cart">
                    <a href="cart.html">
                        <i class="fa fa-shopping-cart" aria-hidden="true">Cart<span>0</span></i>
                    </a>
                </li>
            </Ul>
        </nav>

    </header>
    <h1>Our Book Collection</h1>
    <div class="container">

    <div class="book-image">            
        <img src="/UI/MEDIA/self-portrait.jpg" alt="book-cover" class="book-design"> 
        <p class="book-title">Title: <span class="word-only" id="book">Self Portrait</span></p>
        <p class="book-author">Author: <span class="word-only" id="author">Van Gogh</span></p>
        <p class="book-price">Price:<span class="word-only" id="price"> UGX 20,000</span></p>
        <a class="add-cart hiding-cart">Add to Cart</a>           
    </div>

    <div class="book-image">            
        <img src="/UI/MEDIA/river-between.jpg" alt="book-cover" class="book-design"> 
        <p class="book-title">Title: <span class="word-only">The River Between</span></p>
        <p class="book-author">Author: <span class="word-only">Ngugi Wa Thiongo</span></p>
        <p class="book-price">Price:<span class="price-only"> UGX 25,000</span></p>
        <a class="add-cart hiding-cart">Add to Cart</a>           
    </div>

    <div class="book-image">            
        <img src="/UI/MEDIA/star-wars.jpg" alt="book-cover" class="book-design"> 
        <p class="book-title">Title: <span class="word-only">Star Wars</span></p>
        <p class="book-author">Author: <span class="word-only">George Lucas</span></p>
        <p class="book-price">Price:<span class="word-only"> UGX 20,000</span></p>
        <a class="add-cart hiding-cart" >Add to Cart</a>           
    </div>

  
    <div class="book-image">            
        <img src="/UI/MEDIA/color-water.jpg" alt="book-cover" class="book-design"> 
        <p class="book-title">Title: <span class="word-only">Color of Water</span></p>
        <p class="book-author">Author: <span class="word-only">James McBride</span></p>
        <p class="book-price">Price:<span class="word-only"> UGX 20,000</span></p>
        <a class="add-cart hiding-cart">Add to Cart</a>           
    </div>

    <div class="book-image">            
        <img src="/UI/MEDIA/hannibal-lecter.jpg" alt="book-cover" class="book-design"> 
        <p class="book-title">Title: <span class="word-only">Hannibal Lecter</span></p>
        <p class="book-author">Author: <span class="word-only">Thomas Harris</span></p>
        <p class="book-price">Price:<span class="word-only"> UGX 20,000</span></p>
        <a class="add-cart hiding-cart">Add to Cart</a>           
    </div>

    <div class="book-image">            
        <img src="/UI/MEDIA/romeo-juliet.jpg" alt="book-cover" class="book-design"> 
        <p class="book-title">Title: <span class="word-only">Romeo and Juliet</span></p>
        <p class="book-author">Author: <span class="word-only">William Shakespeare</span></p>
        <p class="book-price">Price:<span class="word-only"> UGX 20,000</span></p>
        <a class="add-cart hiding-cart">Add to Cart</a>           
    </div>

    <div class="book-image">            
        <img src="/UI/MEDIA/kosiya-kifefe.jpg" alt="book-cover" class="book-design"> 
        <p class="book-title">Title: <span class="word-only">Kosiya Kifefe</span></p>
        <p class="book-author">Author: <span class="word-only">Aurthur Gakwandi</span></p>
        <p class="book-price">Price:<span class="word-only"> UGX 42,000</span></p>
        <a class="add-cart hiding-cart">Add to Cart</a>           
    </div>

   <!--  <div class="book-image">            
        <img src="/UI/MEDIA/sons-lovers.jpg" alt="book-cover" class="book-design"> 
        <p class="book-title">Title: <span class="word-only">Sons and Lovers</span></p>
        <p class="book-author">Author: <span class="word-only">DH Lawrence</span></p>
        <p class="book-price">Price:<span class="word-only"> UGX 28,000</span></p>
        <a class="add-cart hiding-cart">Add to Cart</a>           
    </div>

    <div class="book-image">            
        <img src="/UI/MEDIA/ousmane-sembene.jpg" alt="book-cover" class="book-design"> 
        <p class="book-title">Title: <span class="word-only">Gods Bits of Wood</span></p>
        <p class="book-author">Author: <span class="word-only">Ousmane Sembene</span></p>
        <p class="book-price">Price:<span class="word-only"> UGX 30,000</span></p>
        <a class="add-cart hiding-cart">Add to Cart</a>           
    </div>
 -->
    <div class="book-image">            
        <img src="/UI/MEDIA/oliver-twist.jpg" alt="book-cover" class="book-design"> 
        <p class="book-title">Title: <span class="word-only">Oliver Twist</span></p>
        <p class="book-author">Author: <span class="word-only">Charles Dickens</span></p>
        <p class="book-price">Price:<span class="word-only"> UGX 18,000</span></p>
        <a class="add-cart hiding-cart">Add to Cart</a>           
    </div>


    </div>
    
    <footer>
            <p>Edu Look-Book: Team 3 @2020</p>
    </footer>

    <script src="https://use.fontawesome.com/687cbd6549.js"></script>
    <script src="/UI/JS/main.js"></script>
</body>
</html>