<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Books</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Padauk&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="script.js"></script>
</head>
<body>
    
    <header>
        <ul class="nav-bar">
            <a href="#"><li>Home</li></a>
            <a href="cart.html"><li>Cart</li></a>
            <a href="#"><li>Logout</li></a>
        </ul>
        
    </header>

    <div class = "book-body">
        <h1>Our Book Collection</h1>
        <div id="trendy"></div>
    <section class="flexed-book-layout">
        <div class="book-container">            
            <img src="/images/van-gogh.jpg" alt="book-cover" class="book-design"> 
            <p class="book-title">Title: <span class="word-only" id="book">Self Portrait</span></p>
            <p class="book-author">Author: <span class="word-only" id="author">Van Gogh</span></p>
            <p class="book-price">Price:<span class="word-only" id="price"> UGX 20,000</span></p>
            <button id="add-carter" class="add-cart" onclick="libFunction()">Add to Cart</button>           
        </div>

        <div class="book-container">            
            <img src="/images/ngugi-book.jpg" alt="book-cover" class="book-design"> 
            <p class="book-title">Title: <span class="word-only">The River Between</span></p>
            <p class="book-author">Author: <span class="word-only">Ngugi Wa Thiongo</span></p>
            <p class="book-price">Price:<span class="price-only"> UGX 25,000</span></p>
            <button id="add-cart" class="add-cart">Add to Cart</button>           
        </div>

        <div class="book-container">            
            <img src="/images/star-wars.jpg" alt="book-cover" class="book-design"> 
            <p class="book-title">Title: <span class="word-only">Star Wars</span></p>
            <p class="book-author">Author: <span class="word-only">George Lucas</span></p>
            <p class="book-price">Price:<span class="word-only"> UGX 20,000</span></p>
            <button class="add-cart">Add to Cart</button>           
        </div>

      
        <div class="book-container">            
            <img src="/images/color-water.jpg" alt="book-cover" class="book-design"> 
            <p class="book-title">Title: <span class="word-only">Color of Water</span></p>
            <p class="book-author">Author: <span class="word-only">James McBride</span></p>
            <p class="book-price">Price:<span class="word-only"> UGX 20,000</span></p>
            <button class="add-cart">Add to Cart</button>           
        </div>

        <div class="book-container">            
            <img src="/images/hannibal-lecter.jpg" alt="book-cover" class="book-design"> 
            <p class="book-title">Title: <span class="word-only">Hannibal Lecter</span></p>
            <p class="book-author">Author: <span class="word-only">Thomas Harris</span></p>
            <p class="book-price">Price:<span class="word-only"> UGX 20,000</span></p>
            <button class="add-cart">Add to Cart</button>           
        </div>

        <div class="book-container">            
            <img src="/images/romeo-juliet.jpg" alt="book-cover" class="book-design"> 
            <p class="book-title">Title: <span class="word-only">Romeo and Juliet</span></p>
            <p class="book-author">Author: <span class="word-only">William Shakespeare</span></p>
            <p class="book-price">Price:<span class="word-only"> UGX 20,000</span></p>
            <button class="add-cart">Add to Cart</button>           
        </div>
        
        <div class="book-container">            
            <img src="/images/star-wars.jpg" alt="book-cover" class="book-design"> 
            <p class="book-title">Title: <span class="word-only">Star Wars</span></p>
            <p class="book-author">Author: <span class="word-only">George Lucas</span></p>
            <p class="book-price">Price:<span class="word-only"> UGX 20,000</span></p>
            <button class="add-cart">Add to Cart</button>           
        </div>

      
        <div class="book-container">            
            <img src="/images/color-water.jpg" alt="book-cover" class="book-design"> 
            <p class="book-title">Title: <span class="word-only">Color of Water</span></p>
            <p class="book-author">Author: <span class="word-only">James McBride</span></p>
            <p class="book-price">Price:<span class="word-only"> UGX 20,000</span></p>
            <button class="add-cart">Add to Cart</button>           
        </div>   

      
    </section>
</div>

    <footer>
        <p>Edu Look-Book: Team 3 @2020</p>
    </footer>
    
</body>
</html>