<!DOCTYPE html>
<html lang="en">
<head>
    <title>EDU-BOOK LIBRARY LOG IN.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="3style.css">
</head>
<body>
    <div class="header">
        <h1>LOG INTO EDU-BOOK LIBRARY.</h1>
        <p>Would you love to login to your EDU-BOOK LIBRARY ACCOUNT? Here you go!!!!
        </p>
    </div>
    <hr>
    <div class="card">
    <h3>Please fill in the form below;</h3>
    <p>
        <form action="/action_page.php">
            <label for="uname">User name:</label><br>
            <input type="text" id="uname" name="uname"><br>
            <label for="password">Pasword:</label><br>
            <input type="text" id="password" name="password"><br>
            <input type="submit" value="Submit">
        </form>
        </p>
        </div>
</body>
</html>