<!DOCTYPE html>
<html lang="en">
<head>
    <title>EDU-BOOK LIBRARY SIGN UP.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="2style.css">
</head>
<body>
    <div class="header">
        <h1>SIGN-UP TO EDU-BOOK LIBRARY.</h1>
        <p>Would you love to be apart of our EDU-BOOK LIBRARY family? Well! Here is 
            your first step!
        </p>
    </div>
    <hr>
    <div class="card">
    <h3>Please fill in the form below;</h3>
    <p>
    <form>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <label for="email">Email address:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password"><br>
        <a href="homepage.html"><input type="submit" value="Submit"></a> 
    </form>
    </p>
    </div>
    <hr>
    <P>
      <a href="https://www.w3schools.com/">Terms and conditions applied.</a>
      <form>
          <input type="radio" id="yes" name="read" value="yes">
          <label for="yes">YES.</label><br>
          <input type="radio" id="no" name="read" value="no">
          <label for="no">NO.</label><br>

      </form>
    </P>

</body>
</html>