<!DOCTYPE html>
<html lang="en">
<head>
    <title>EDU-BOOK LIBRARY SIGN UP.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="2style.css">
</head>
<body>
    <div class="header">
        <h1>SIGN-UP TO EDU-BOOK LIBRARY.</h1>
        <p>Would love to be apart of our EDU-BOOK LIBRARY family? Well! Here is 
            your first step!
        </p>
    </div>
    <div class="card"></div>
    <h3>Please fill in the form below;</h3>
    <form action="/action_page.php">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br>
        <label for="email">Email address:</label><br>
        
    </form>
</body>
</html>